@import '../../styles/settings';
@import '../../styles/animations';
@import '../../styles/mixins/responsive-attr';

.lightbox {
    animation: appear $medium-speed $default-easing;
    background-color: rgba($white, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin lightbox-button($icon) {
    background-color: rgba(#B5BCC2, 0.5);
    border-radius: 50%;
    color: $white;
    content: $icon;
    height: 3rem;
    width: 3rem;
    font-family: $icons-font-family;
    font-size: $large-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $hover-transition;
}

.lightbox-next,
.lightbox-prev {
    position: absolute;
    top: 4rem;
    right: 0;
    left: 66%;
    bottom: 0;

    align-items: center;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: $hover-transition;

    @include responsive-attr(padding, ($vertical-padding $horizontal-padding), 0.5);

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &:after {
        @include lightbox-button('\e906');
    }
}

.lightbox-prev {
    right: 66%;
    left: 0;
    justify-content: flex-start;

    &:after {
        content: '\e905';
        @include lightbox-button('\e905');
    }
}

.lightbox-close {
    position: absolute;
    top: $vertical-margin;
    @include responsive-attr(right, ($horizontal-padding), 0.5);

    &:after {
        @include lightbox-button('\e909');
        background-color: transparent;
        color: $dark-gray;
    }

    &:hover:after {
        @include lightbox-button('\e909');
        background-color: rgba(#B5BCC2, 0.5);
        color: $white;
        cursor: pointer;
    }
}

.appear-from-right {
    animation: from-right $fast-speed $default-easing;
}

.appear-from-left {
    animation: from-left $fast-speed $default-easing;
}