@import '../../styles/settings';
@import '../../styles/mixins/font-sizes';

.brick {
    border-top: 0.25rem solid $black;
    //background-color: $dark-gray;
    min-height: 100%;
    padding: $vertical-padding * 2 0;
}

.brick-text {
    //color: $white;
    @include font-sizes($headings, h2);
    line-height: $headings-line-height;
    font-weight: $font-weight-bold;
}

.brick-label {
    margin-top: $vertical-margin;
    font-size: $small-font-size;
    font-family: $code-font-family;
    text-transform: uppercase;
    color: $medium-gray;
}