@import '../settings';
@import '../mixins/breakpoints';

@mixin font-sizes($stack) {
    @each $group, $attrs in $stack {
        @include breakpoint($group) {
            @each $tag, $size in $attrs {
                .#{$tag} {
                    font-size: $size;
                    line-height: $headings-line-height;
                    text-transform: uppercase;
                }
            }
        }
    }
}
