@import '../../styles/settings';
//@import '../../styles/mixins/breakpoints';
//@import '../../styles/mixins/responsive-attr';

.h1,
.h2,
.h3 {}

@each $heading, $size in $headings {
    .#{$heading} {
        font-size: $size;
    }
}

.headline {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    color: $light-gray;
    max-width: 45rem;
    line-height: 1.2;
}