@import '~sanitize.css/sanitize.css';

@import 'settings';

//@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Kanit:400,700,800|Muli:400,700,900|Nunito+Sans:400,700,900&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-size: $root-font-size;
}

body {
    color: $black;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight-normal;
}

figure {
    margin: 0;
}

dt {
    font-family: $code-font-family;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
}

dd {
    font-family: $code-font-family;
    font-size: $small-font-size;
    margin: 0;
}

p {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}